* {
    font-family: "JetBrains Mono Semibold";
    font-size: 17px;
    border-radius: 7;
}

.modules-right {
    margin-right: 4px;
}

.modules-left {
    margin-left: 4px;
}

window#waybar {
    background: rgba(0,0,0, 0.4); 
}

window#waybar.empty #window {
    background-color: transparent;
}

#clock,
#pulseaudio,
#battery,
#workspaces,
#custom-spotify,
#window {
	padding: 4 10px;
    margin: 6 2px;
    background: rgba(19, 19, 29, 0.3);
    color: rgba(255,255,255,0.8);
}

#workspaces {
    padding: 0 0px;
}

#workspaces button {
    padding: 1 5px;
    background: transparent;
    color: rgba(255,255,255,0.5);
}

#workspaces button.active {
    background:rgba(19, 19, 29, 0.3); 
    color: rgba(255,255,255,0.8);
}

