@import "macchiato.css";
@define-color bg-color @surface0;
@define-color left-color @sapphire;
@define-color middle-color @sapphire;
@define-color right-color @sapphire;
* {
    font-family: "Symbols Nerd Font","JetBrains Mono Semibold" ;
    font-size: 18px;
    border-radius: 6;
}

.modules-right {
    margin-right: 4px;
}

.modules-left {
    margin-left: 4px;
}

window#waybar {
    background: transparent;
}

window#waybar.empty #window {
    background-color: transparent;
}

#clock,
#pulseaudio,
#cpu,
#memory,
#network,
#battery,
#workspaces,
#custom-spotify,
#window {
	padding: 4 12px;
    margin: 0 3px;
    background: @bg-color;
    color: @right-color;
    border-style: solid;
    border-color: @right-color;
    border-width: 2px;
}

#workspaces {
    padding: 0 0px;
    border-color: @left-color;
}

#workspaces button {
    padding: 2 4px;
    color: @left-color;
}

#workspaces button.active {
    color: @bg-color;
    background: @left-color;
    border-radius: 0;
}

#custom-spotify {
    color: @left-color;
    border-color: @left-color;
}

#clock {
    color: @middle-color;
    border-color: @middle-color;
}

#cpu,
#memory,
#pulseaudio,
#network,
#battery {
    color: @right-color;
    border-color: @right-color;
}

