@import "macchiato.css";
@define-color bar-color @crust;
@define-color light-text @subtext1;
@define-color muted-text @overlay0;
@define-color dark-text @mantle;
@define-color accent-color @sapphire;
@define-color warning-text @yellow;
@define-color critical-text @red;

* {
    font-family:"Symbols Nerd Font","JetBrains Mono Semibold";
    font-size: 18px;
}

.modules-right {
    margin-right: 3px;
}

.modules-left {
    margin-left: 1px;
}

window#waybar {
    background: @bar-color;
}

#clock,
#pulseaudio,
#network,
#battery,
#tray,
#workspaces,
#mode,
#submap,
#custom-spotify,
#custom-notifications {
    padding: 1 0px;
    margin: 6 9px;
    color: @light-text;
}

#battery.warning {
    color: @warning-text;
}

#battery.critical {
    color: @critical-text;
}

#workspaces {
    padding: 0 0px;
    margin-right: 6px;
}

#workspaces button,
#workspaces button.visible,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.persistent,
#workspaces button.empty,
#workspaces button.current_output,
#workspaces button.active {
    margin: 0 0px;
    padding: 0 0px;
}

#workspaces button {
    color: @light-text;
}

#workspaces button.urgent {
    color: @warning-text;
}

#workspaces button.empty {
    color: @muted-text;
}

#workspaces button.active, /* hyprland */
#workspaces button.focused { /* sway */
    color: @accent-color;
}

#mode {
    color: @warning-text;
}
