config-version = 2

after-login-command = []
after-startup-command = []

start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 30
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
automatically-unhide-macos-hidden-apps = true
persistent-workspaces = [ "1", "2", "3", "4", "5" ]

[key-mapping]
    preset = 'qwerty'

[gaps]
    inner.horizontal = 12
    inner.vertical =   12
    outer.left =       10
    outer.bottom =     10
    outer.top =        10
    outer.right =      10

[mode.main.binding]

    alt-cmd-ctrl-q = 'close --quit-if-last-window'
    alt-cmd-ctrl-enter = 'exec-and-forget open -n "/Applications/Ghostty.app"'
    alt-cmd-ctrl-e = 'exec-and-forget open "$HOME"'
    alt-cmd-ctrl-y = 'exec-and-forget open -n "/Applications/Ghostty.app" --args -e yazi'
    alt-cmd-ctrl-b = 'exec-and-forget open -n "/Applications/Google Chrome.app"'
    alt-cmd-ctrl-f = 'layout floating tiling'
    alt-cmd-ctrl-shift-f = 'fullscreen'
    alt-cmd-ctrl-x = 'exec-and-forget open "/Applications/Webex.app"'
    alt-cmd-ctrl-o = 'exec-and-forget open -n "/Applications/Microsoft Outlook.app/"'
    alt-cmd-ctrl-w = 'swap --swap-focus --wrap-around dfs-next'
    alt-cmd-ctrl-tab = 'layout tiles accordion'
    alt-cmd-ctrl-shift-tab = 'layout horizontal vertical'
    alt-cmd-ctrl-h = 'focus left --boundaries-action wrap-around-the-workspace'
    alt-cmd-ctrl-j = 'focus down --boundaries-action wrap-around-the-workspace'
    alt-cmd-ctrl-k = 'focus up --boundaries-action wrap-around-the-workspace'
    alt-cmd-ctrl-l = 'focus right --boundaries-action wrap-around-the-workspace'
    alt-cmd-ctrl-shift-h = 'move left'
    alt-cmd-ctrl-shift-j = 'move down'
    alt-cmd-ctrl-shift-k = 'move up'
    alt-cmd-ctrl-shift-l = 'move right'
    alt-cmd-ctrl-1 = 'workspace 1'
    alt-cmd-ctrl-2 = 'workspace 2'
    alt-cmd-ctrl-3 = 'workspace 3'
    alt-cmd-ctrl-4 = 'workspace 4'
    alt-cmd-ctrl-5 = 'workspace 5'
    alt-cmd-ctrl-6 = 'workspace 6'
    alt-cmd-ctrl-7 = 'workspace 7'
    alt-cmd-ctrl-8 = 'workspace 8'
    alt-cmd-ctrl-9 = 'workspace 9'
    alt-cmd-ctrl-0 = 'workspace 10'
    alt-cmd-ctrl-shift-1 = 'move-node-to-workspace 1 --focus-follows-window'
    alt-cmd-ctrl-shift-2 = 'move-node-to-workspace 2 --focus-follows-window'
    alt-cmd-ctrl-shift-3 = 'move-node-to-workspace 3 --focus-follows-window'
    alt-cmd-ctrl-shift-4 = 'move-node-to-workspace 4 --focus-follows-window'
    alt-cmd-ctrl-shift-5 = 'move-node-to-workspace 5 --focus-follows-window'
    alt-cmd-ctrl-shift-6 = 'move-node-to-workspace 6 --focus-follows-window'
    alt-cmd-ctrl-shift-7 = 'move-node-to-workspace 7 --focus-follows-window'
    alt-cmd-ctrl-shift-8 = 'move-node-to-workspace 8 --focus-follows-window'
    alt-cmd-ctrl-shift-9 = 'move-node-to-workspace 9 --focus-follows-window'
    alt-cmd-ctrl-shift-0 = 'move-node-to-workspace 10 --focus-follows-window'
    alt-cmd-ctrl-shift-r = 'reload-config'
    alt-cmd-ctrl-semicolon = 'mode resize'
    alt-cmd-ctrl-m = 'mode media'

[mode.resize.binding]
    esc = [ 'mode main' ]
    j = 'resize smart -50'
    k = 'resize smart +50'
    f = 'layout floating tiling'
    alt-cmd-ctrl-f = 'fullscreen'
    alt-cmd-ctrl-h = ['join-with left', 'mode main']
    alt-cmd-ctrl-j = ['join-with down', 'mode main']
    alt-cmd-ctrl-k = ['join-with up', 'mode main']
    alt-cmd-ctrl-l = ['join-with right', 'mode main']
    r = ['flatten-workspace-tree', 'mode main'] # reset layout

[mode.media.binding]
    esc = ['mode main']
    j = 'volume down'
    k = 'volume up'
    m = 'volume mute-toggle'

[[on-window-detected]]
    if.app-id = 'com.spotify.client'
    run = 'layout floating'
